asgiref==3.9.1
dj-database-url==3.0.1
Django==4.2.23
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
gunicorn==23.0.0
numpy==1.24.3
packaging==25.0
pandas==2.3.1
polygon-api-client==1.15.1
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dotenv==1.1.1
sqlparse==0.5.3
typing_extensions==4.14.1
yfinance==0.2.36
alpha-vantage==3.0.0
